<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript">
window.onload = function(){
	document.querySelector("#btnOk").onclick = function(){
		frm.submit();
	}
}
</script>
</head>
<body>
<table>
	<tr>
		<td><img alt="" src="/static/images/sangpum2.jpg" style="width: 30%">
			<pre>
			상품명:해바라기액자
			가격:20,000원
			특징:어째저쨰
			</pre>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<form action="cart" name="frm" method="post">{% csrf_token %}
				<input type="hidden" name="name" value="해바라기액자">
				<input type="hidden" name="price" value="20000">
				<input type="button" id="btnOk" value="장바구니에 담기">
				<input type="button" value="홈 페이지로" onclick="history.back()">
			</form>
		
		</td>
	</tr>
</table>
</body>
</html>